h1 {
  border: 1px solid black;
  text-align: center;
  background-color: #294a67;
  color: white;
}
img {
  margin: 50px;
  margin-left: -1px;
  width: 300px;
}
.teal{
  background-color: #40a3a6;
}
